<% if @render %>


  <% if @photos.count > 0 %>
    <h1>Your best photos: </h1>
    
    <% sort_by = @sort_by.to_sym %>
    <div class="row">
      <ul class="gender-selector col-md-12">  
        <div class="row">
        <a href="<%=sort_by_path(:total_likes)%>">
          <li class="likes col-xs-4 list-inline <%="selected" if  sort_by == :total_likes %>">
            All Likes
          </li>
        </a>
        <a href="<%=sort_by_path(:female_likes)%>">
          <li class="likes col-xs-4 list-inline <%="selected" if  sort_by == :female_likes %>">
            By Females
          </li>
        </a>
        <a href="<%=sort_by_path(:male_likes)%>">
          <li class="likes col-xs-4 list-inline <%="selected" if  sort_by == :male_likes %>">
            By Males
          </li>
        </a>
        </div>
      </ul>
    </div>

    <form action = "/" method="post">
    <div class="photo">
      <div class="row">
      <% @photos.each do |photo| %>
          <div class="col-md-4">
            <img src="<%= photo[:url] %>"><br>
            <input type="checkbox" name="photo" value="<%= photo[:id] %>">
            <p><%= photo[sort_by] %> Likes</p>
          </div> 
      <% end %> 
      </div>
    </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <button id="okcupid">Export to OKCupid<sup>&beta;</sup></button>
        </div>
        <div class="col-md-3">
          <button id="tinder">Export to tinder<sup>&beta;</sup></button>
        </div>
      </div>
    </form>
    <% if @photos.count > 1 %> 
      <h3> <%= @photos.count %> photos found.</h3>
    <% else %>
      <h3> 1 photo found.</h3>      
    <% end %>
  <% else%>
    <div>
      Sorry! Likes Me could not find any good photos of you. Maybe you should go work on your <a href="http://www.jokes.com/">jokes</a>.<br>
      <img class="sad" src="http://indiana.laxallstars.com/files/2011/06/sad-face-paper-bag.jpg" alt=":c">
    </div>
  <% end %>

<% else %>

    <a type="button" class="btn btn-default find_button" href="<%= user_omniauth_authorize_path(:facebook) %>">
      <div id="find">
        Find my best<br>photos!
      </div>
    </a>

<% end %>



