<% if @render %>
  <% if @photos.count > 0 %>
    <h1>Your best photos:</h1>
    <form action = "/" method="post">
    <div class="photo">
      <div class="row">
      <% @photos.each do |photo| %>
          <div class="col-md-4">
            <img src="<%= photo[:url] %>"><br>
            <input type="checkbox" name="photo" value="<%= photo[:id] %>">
            <p><%= photo[:total_likes] %> Likes</p>
          </div> 
      <% end %> 
      </div>
    </div>

      <div class="row">
        <div class="col-md-4">
          <button type="submit">Save Best Photos!</button>  
        </div>
        <div class="col-md-4">
          <button id="okcupid">Export to OKCupid<sup>&beta;</sup></button>
        </div>
        <div class="col-md-4">
          <button id="tinder">Export to tinder<sup>&beta;</sup></button>
        </div>
      </div>
    </form>
    <% if @photos.count > 1 %> 
      <h3> <%= @photos.count %> photos found.</h3>
    <% else %>
      <h3> 1 photo found.</h3>      
    <% end %>
  <% else%>
    <div>
      Sorry! Likes Me could not find any good photos of you. Maybe you should go work on your <a href="http://www.jokes.com/">jokes</a>.<br>
      <img class="sad" src="http://indiana.laxallstars.com/files/2011/06/sad-face-paper-bag.jpg" alt=":c">
    </div>
  <% end %>



<% else %>
    <h1><%= button_to "Find my best\nphotos!", user_omniauth_authorize_path(:facebook) %></h1>
<% end %>



